@model cwagnerPortfolio.Models.EmailModel

@{
    ViewBag.Title = "Index";
}

<div id="feedback" class="inner-content">

    <section id="page-title" class="inner-section ui-menu-color05">
        <div class="container-fluid nopadding">
            <h2 class="font-accident-two-normal color01 uppercase"
                data-animation-origin="right"
                data-animation-duration="400"
                data-animation-delay="100"
                data-animation-distance="50px">
                Feedback
            </h2>
            <h5 class="font-accident-two-bold color01 uppercase subtitle"
                data-animation-origin="right"
                data-animation-duration="400"
                data-animation-delay="200"
                data-animation-distance="50px"></h5>
            <p class="small color01"
               data-animation-origin="right"
               data-animation-duration="400"
               data-animation-delay="300"
               data-animation-distance="50px">
            </p>
        </div>
    </section>

    <!-- Feedback Block -->
    <section class="inner-section feedback feedback-light" data-section="feedback">

        <div class="container-fluid nopadding">

            <div class="row">

                <div class=""
                     data-animation-origin="top"
                     data-animation-duration="500"
                     data-animation-delay="400"
                     data-animation-distance="25px">
                    <div class="dividewhite2"></div>
                    <h3 class="font-accident-two-normal uppercase text-center">Send me a message</h3>
                    <h5 class="font-accident-two-bold uppercase text-center subtitle">Feedback is always welcome.</h5>
                    <div class="dividewhite1"></div>
                    <p class="small fontcolor-medium text-center">
                        If you have questions or comments, please send me a message below.
                    </p>
                </div>

                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-8 e-centered"
                     data-animation-origin="top"
                     data-animation-duration="500"
                     data-animation-delay="600"
                     data-animation-distance="25px">
                    <div class="dividewhite4"></div>
                    <div id="form-messages"></div>
                    @using (Html.BeginForm("Contact","Feedback", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="wpcf7-form">
                            @Html.ValidationSummary("", new { @class="text-danger"})
                            <div class="field">
                                @Html.LabelFor(m => m.FromName, new { @class = "col-md-offset-0 control-label" })
                                <input type="text" id="FromName" name="FromName" placeholder="Name" required>
                                @Html.ValidationMessageFor(m => m.FromName)
                            </div>

                            <div class="field">
                                @Html.LabelFor(m => m.FromEmail, new { @class= "col-md-offset-0 control-label" })
                                <input type="email" id="FromEmail" name="FromEmail" placeholder="Email address" required>
                                @Html.ValidationMessageFor(m => m.FromEmail)
                            </div>

                            <div class="field">
                                @Html.LabelFor(m => m.Subject, new { @class = "col-md-offset-0 control-label" })
                                <input type="text" id="Subject" name="Subject" placeholder="Subject" required>
                                @Html.ValidationMessageFor(m => m.Subject)
                            </div>

                            <div class="field">
                                @Html.LabelFor(m => m.Body, new { @class = "col-md-offset-0 control-label" })
                                <textarea id="Body" name="Body" placeholder="Message" rows="7" cols="30" required></textarea>
                                @Html.ValidationMessageFor(m => m.Body)
                            </div>

                            <div class="dividewhite2"></div>

                            <div class="field text-center">
                                <button type="submit" class="btn btn-lg btn-darker">Send Message</button>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-12 divider-dynamic"></div>
            </div>

        </div>

        <div class="dividewhite6"></div>

    </section>
    <!-- /Feedback Block -->

</div>