@model cwagnerPortfolio.Models.Blog
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = Model.Title;
}

<div id="blogpost" class="inner-content">
    <form>
        @Html.AntiForgeryToken()
    </form>

    <section id="page-title" class="inner-section"
             data-animation-origin="right"
             data-animation-duration="500"
             data-animation-delay="300"
             data-animation-distance="25px">
        <div class="container-fluid nopadding">
            @Html.Partial("_LoginPartial")
            <h2 class="font-accident-two-normal uppercase">@Model.Title</h2>
            <div class="post-meta"><span>by <a>Christina</a>,</span> <span>@Model.Created.ToString("d")</span></div>
        </div>
    </section>

    <!-- Blog Block -->
    <section class="inner-section">

        <div class="container-fluid nopadding">

            <img src="@Model.MediaUrl" class="img-responsive"
                 alt=""
                 data-animation-origin="top"
                 data-animation-duration="500"
                 data-animation-delay="300"
                 data-animation-distance="25px">

            <article class="post"
                     data-animation-origin="top"
                     data-animation-duration="500"
                     data-animation-delay="300"
                     data-animation-distance="25px">

                <div class="dividewhite6"></div>

                <!-- Post Content -->
                @Html.Raw(Model.Body)
                <!-- /Post Content -->

                <div class="dividewhite4"></div>
                <p class="post-meta">
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <span> | </span>;
                        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) <span> | </span>;
                        @Html.ActionLink("Back to List", "Index");
                    }
                    else
                    {
                        @Html.ActionLink("Back to List", "Index");
                    }
                </p>
                <hr>

            </article>
        </div>
        <div class="dividewhite2"></div>
        <h3 class="font-accident-two-normal uppercase text-center">Comments</h3>
        <div class="col-md-12 e-centered"
             data-animation-origin="top"
             data-animation-duration="500"
             data-animation-delay="600"
             data-animation-distance="25px">
            <div id="form-messages"></div>
            <div class="dividewhite2"></div>
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("Create", "BlogComment", new { blogId = Model.Id }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="wpcf7-form">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="field">
                                <textarea type="text" id="Body" name="Body" placeholder="Leave a comment" rows="3" cols="30" required></textarea>
                            </div>
                            <div class="dividewhite2"></div>
                            <div class="field text-center">
                                <button type="submit" class="btn btn-lg btn-darker">Submit</button>
                                <div class="dividewhite2"></div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h5 class="font-accident-two-bold uppercase text-center subtitle">Login to leave a comment.</h5>
                <div class="dividewhite2"></div>
            }
            @foreach (var item in Model.Comments)
            {
                <div class="row" data-id="@item.Id">
                    <article id="01" class="post-block col-sm-12 post hentry"
                             data-animation-origin="top"
                             data-animation-duration="500"
                             data-animation-delay="500"
                             data-animation-distance="30px">
                        <div id="comment-body-@item.Id">
                            <p>@item.Body</p>
                        </div>
                        <div id="editForm-@item.Id" style="display:none;" >
                            @using (Html.BeginForm("Edit", "BlogComment", new { blogId = Model.Id }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <div class="wpcf7-form">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="field">
                                            <textarea type="text" id="Body" name="Body" placeholder="Leave a comment" rows="3" cols="30" required>@item.Body</textarea>
                                        </div>
                                        <div class="dividewhite2"></div>
                                        <div class="field text-center">
                                            <button onclick="toggleCommentEdit(@item.Id)" type="button" class="btn btn-lg btn-light">Cancel</button>
                                            <button type="submit" class="btn btn-lg btn-darker">Submit</button>
                                            <div class="dividewhite2"></div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="post-meta">
                            Posted on: <a class="meta-date">@item.Created.ToString("d")</a>&nbsp;
                            Posted by: <a class="meta-author">@item.Author.FullName</a>&nbsp;
                            <div>
                                @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || item.AuthorId == User.Identity.GetUserId())
                                {
                                    <a href="javascript:void(0)" onclick="toggleCommentEdit(@item.Id)">Edit</a> <span> | </span>;
                                    <a href="javascript:void(0)" onclick="commentDelete(@item.Id, '@Url.Action("Delete", "BlogComment", new { id = item.Id }, null)')">Delete</a>;
                                }
                            </div>
                        </div>
                        <hr />
                    </article>
                </div>
            }
        </div>


    </section>
    <!-- /Blog Block -->
</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.1/sweetalert2.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.1/sweetalert2.css" />
    <link href="~/wwwroot/assets/custom/2.2.0/css/sweetAlert.css" rel="stylesheet" />
    <script src="~/wwwroot/assets/custom/2.2.0/js/deleteComment.js"></script>
}